.roomfinder, .roomfinder *, .roomfinder :after, .roomfinder :before {
    box-sizing: border-box;
}

.roomfinder {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    color: #818181;
    
    width: 300px;
    height: 250px;

    margin: auto;

    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.roomfinder label, .roomfinder button {
    font-size: 14px;
    text-transform: uppercase;
}

.roomfinder .promo,
.roomfinder .form {
    height: 125px;
}

.roomfinder .promo {
    background: url('../img/bckg-img.png') center no-repeat;
    color: #fff;

    text-shadow: 0 1px 2px rgba(0,0,0,.4);
}

.roomfinder .logo {
    display: table;

    height: 70px;
    width: 100%;
}

.roomfinder .logo-content {
    display: table-cell;

    vertical-align: bottom;
    text-align: center;
}

.roomfinder .logo-content img {
    vertical-align: bottom;
}

.roomfinder .text {
    height: 55px;

    font-size: 20px;
    line-height: 55px;
    text-align: center;
}

.roomfinder .form {
    padding: 15px 30px;
}

.roomfinder .input-area {
    height: 30px;

    margin-bottom: 15px;
}

.roomfinder .btn {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;

    display: block;
    height: 50px;
    width: 100%;

    border: none;
    background: #42b1ff url('../img/book-room.png') 15px center no-repeat;

    color: #fff;

    -moz-appearance: none;
    -webkit-appearance: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;

    padding: 0 1em;
}

.roomfinder .btn:hover {
    background-color: #58b9ff;
    cursor: pointer;
}

.roomfinder .searchbox {
    display: table;
    width: 50%;
    float: left;
}

.roomfinder .searchbox.first {
    padding-right: 7px;
    border-right: 1px solid #e2e2e2;
}

.roomfinder .searchbox.last {
    padding-left: 9px;
}

.roomfinder .searchbox .icon,
.roomfinder .searchbox .input {
    display: table-cell;
    vertical-align: middle;
}

.roomfinder .searchbox .input {
    text-align: right;
}

.roomfinder .searchbox .input label {
    border-bottom: 1px solid #e2e2e2;
    width: 72px;
    display: block;
    float: right;
    white-space: nowrap;
    direction: rtl;
}

.roomfinder .searchbox .input .value {
    width: 100%;
    font-size: 12px;
    padding-top: 2px;
    color: #42b1ff;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.roomfinder input.reset {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: inherit;
    line-height: inherit;
}

.roomfinder ul.options {
    list-style: none;
    padding: 15px;
    margin: 30px 0;
    background-color: #fff;
    min-width: 160px;
    position: relative;

    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.roomfinder ul.options .checkbox,
.roomfinder ul.options .label {
    display: table-cell;
}

.roomfinder ul.options .checkbox {
    width: 45px;
    height: 45px;
    vertical-align: middle;
    text-align: center;
}

.roomfinder ul.options .label {
    min-width: 150px;
    height: 45px;
    vertical-align: middle;
    text-align: right;
    line-height: 1;
}

.roomfinder ul.options .divider {
    display: block;
    border-bottom: 1px solid #e2e2e2;
    width: 90px;
    float: right;
}

.roomfinder ul.options:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 20px;
    top: -9px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e2e2e2;
    margin-left: -10px;
}

.roomfinder ul.options:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 20px;
    top: -8px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin-left: -10px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;

    left: 0;
    top: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Placeholder */

.placeholder {
    opacity: .7;
}

.roomfinder ::-webkit-input-placeholder {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    color: inherit;
    text-align: inherit;
    opacity: .7;
}

.roomfinder :-moz-placeholder { /* Firefox 18- */
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    color: inherit;
    text-align: inherit;
    opacity: .7;
}

.roomfinder ::-moz-placeholder {  /* Firefox 19+ */
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    color: inherit;
    text-align: inherit;
    opacity: .7;
}

.roomfinder :-ms-input-placeholder {
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    color: inherit;
    text-align: inherit;
    opacity: .7;
}