<div class="roomfinder">
    <div class="promo">
        <div class="logo">
            <div class="logo-content">
                <a href="https://www.eurooms.com">
                    <img src="img/eurooms-logo.png" alt="Eurooms - Rooms to rent in London" />
                </a>
            </div>
        </div>
        <div class="text">
            <span>Search for a room in London</span>
        </div>
    </div>
    <div class="form">
        <form action="https://www.eurooms.com/roomfinder" method="GET">

            <!-- Specify affiliate / agent ID here, if any -->
            <!--<input type="hidden" name="agent_id" value="" />-->

            <div class="input-area">
                <div class="searchbox first dropdown">
                    <div class="icon">
                        <img src="img/room-type.png" alt="" />
                    </div>
                    <div class="input">
                        <label>Room type</label>
                        <div class="value placeholder">All available</div>
                    </div>
                    <div class="dropdown-content">
                        <ul class="options">
                            <li>
                                <label>
                                    <span class="checkbox">
                                         <input type="checkbox" name="unit_types[]" value="shared_room_men" checked />
                                    </span>
                                    <span class="label">Shared for men</span>
                                </label>
                            </li>
                            <li>
                                <span class="divider"></span>
                            </li>
                            <li>
                                <label>
                                    <span class="checkbox">
                                         <input type="checkbox" name="unit_types[]" value="shared_room_women" checked />
                                    </span>
                                    <span class="label">Shared for women</span>
                                </label>
                            </li>
                            <li>
                                <span class="divider"></span>
                            </li>
                            <li>
                                <label>
                                    <span class="checkbox">
                                         <input type="checkbox" name="unit_types[]" value="entire_room" checked />
                                    </span>
                                    <span class="label">Entire room</span>
                                </label>
                            </li>
                            <li>
                                <span class="divider"></span>
                            </li>
                            <li>
                                <label>
                                    <span class="checkbox">
                                         <input type="checkbox" name="unit_types[]" value="entire_house" checked />
                                    </span>
                                    <span class="label">Entire property</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="searchbox last">
                    <div class="icon">
                        <img src="img/calendar.png" alt="" />
                    </div>
                    <div class="input">
                        <label>Check-in</label>
                        <input type="text" class="value reset" name="check_in" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="DD/MM/YYYY" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn"><span>Find your room</span></button>

        </form>
    </div>
</div>